/* ------------- CSS RESET ------------- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e0e1dd;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
}

/* ------------ HEADER ------------ */

header {
  background-color: #415a77;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

h1 {
  font-size: 5.5rem;
}

/* ------------ MAIN ------------ */

main {
  background-color: #1b263b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.container * {
  background-color: #415a77;
  padding: 10px 20px;
  border-radius: 5px;
}

#generatePrediction {
  flex-basis: 50%;
  border: 1px solid #e0e1dd;
  background-color: #1b263b;
  color: #e0e1dd;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin: 0;
  padding: 10px 0;
}

#generatePrediction:hover {
  cursor: pointer;
  background-color: #e0e1dd;
  border: none;
  color: #1b263b;
}

#generatePrediction:active {
  cursor: pointer;
  border: 1px solid #e0e1dd;
  background-color: #1b263b;
  color: #e0e1dd;
}

/* ------------ FOOTER ------------ */

footer {
  background-color: #415a77;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

a {
  color: #e0e1dd;
  text-decoration: none;
  border-bottom: 3px dotted #e0e1dd;
}

a:hover {
  color: #1b263b;
  border-bottom: 3px dotted #1b263b;
}
